* {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  background: #303639;
  font-family: 'Roboto', Geneva, 'Geneva', Arial, sans-serif;
  color: #C0CAC3; }

nav {
  margin-top: 20px;
  /*display: block;
  position: static;*/ }

a {
  font-family: 'Roboto Condensed';
  text-decoration: none;
  font-size: 0.85em;
  padding: 8px; }

code {
  margin: 16px 0;
  display: block; }

i {
  margin-right: 6px; }

header.top-header {
  background: #2A2D2F;
  padding: 12px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  /*position: fixed;
  left:0;
  right:0;
  height: 40px;
  z-index: 1;*/ }
  header.top-header h1 span.subtil {
    color: #3f4949;
    font-size: 0.8em; }
  header.top-header h1 span.lang {
    color: #3f4949;
    font-size: 0.8em; }

h1 {
  color: #577;
  font-size: 1.1em; }

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

#kata-menu {
  display: flex;
  flex-direction: column;
  width: 20vw;
  /*.menu-link{

  }*/ }
  #kata-menu li {
    list-style: none; }
    #kata-menu li a {
      text-decoration: none;
      color: #899;
      cursor: hand; }
    #kata-menu li a:hover {
      text-decoration: none;
      color: #fa0;
      cursor: hand; }
    #kata-menu li a.selected, #kata-menu li a.selected:hover {
      color: #5b6a6a;
      cursor: pointer; }

.page {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 80vw;
  padding: 12px 12px 12px 12px;
  background: #202629;
  /*margin: 0 auto 0 auto;*/
  overflow-y: scroll; }

.instruction {
  padding: 8px;
  margin: 0 auto;
  min-width: 640px;
  max-width: 880px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 0.9em; }
  .instruction h2 {
    color: #cc2a72;
    /*color: #a0cc80;*/
    margin-bottom: 12px;
    width: 700px; }
  .instruction ul {
    padding: 6px 0px 6px 30px; }
  .instruction .kata-header {
    /*background: #282828;*/
    color: #688;
    margin-bottom: 10px; }
  .instruction .exemple {
    background: #2A2D2F;
    color: #999;
    padding: 12px;
    margin: 12px;
    font-family: "Courier New", Courier, sans-serif; }

.playground {
  position: relative;
  min-width: 640px;
  max-width: 880px;
  margin: 0 auto 30px auto;
  padding-bottom: 20px; }

.playground a, .playground a:link, a:visited {
  background: #206a6d;
  padding: 6px;
  color: #fff;
  /*position: absolute;*/
  /*right:0;*/ }

.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .bar a {
    margin: 4px;
    display: flex;
    align-items: center; }

.subbar {
  display: inherit; }

.right {
  position: relative;
  width: 100%; }

.clear {
  clear: right; }

/*a, a:link, a:visited {
  background: #409a9d;
  padding: 10px;
  margin: 10px;

  color: #fff;
  !*display: block;*!
}*/
#bt-next {
  display: none; }

#editor {
  /*position: relative;*/
  margin-top: 20px;
  margin-bottom: 16px;
  min-width: 640px;
  max-width: 880px;
  height: 120px; }

#feed {
  color: #fff;
  font-size: 0.8em; }

.ok {
  padding: 12px;
  background: #490; }

.error {
  padding: 12px;
  background: #b00; }

a.discrete {
  background: #455; }

a.discrete:hover {
  background: #2a3030;
  color: #fa0; }

a.action.help {
  background: #8A6; }

a.action {
  background: #584; }

a.action.disabled {
  background: #555; }

a.action:hover {
  background: #d80; }

.hint {
  padding: 8px;
  background: #8A6;
  color: #1d4c27; }

a.topbar-bt {
  background: #577;
  padding: 8px;
  display: flex;
  align-items: center; }

a.topbar-bt:hover {
  background: #fa0;
  color: #c50; }

#feedback-form {
  background: #3f4949;
  display: none;
  flex-direction: column;
  padding: 12px;
  position: fixed;
  right: 10px;
  top: 10px; }
  #feedback-form header {
    padding: 8px; }
  #feedback-form h3 {
    font-size: 1rem; }

#bt-feedback {
  background-color: #303639;
  position: absolute;
  right: 12px;
  top: 12px;
  color: #fa0; }
  #bt-feedback .over-legend {
    color: #999; }

#bt-feedback > .over-legend {
  display: none; }

#bt-feedback:hover > .over-legend {
  display: block; }

.toolbar {
  align-items: center;
  display: flex;
  margin-top: 8px;
  justify-content: space-between; }
  .toolbar input, .toolbar textarea {
    margin: 4px;
    border: none; }
  .toolbar button {
    background: #8A6;
    color: #fff;
    border: none;
    padding: 6px; }

.contact-form {
  margin: 6px 4px;
  padding: 6px;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
